/* font-family: 'Inter', sans-serif; */
/* font-family: 'Work Sans', sans-serif; */
.container {
    max-width: 1920px;
    width: 100%;
    margin: auto;

}

/* header */
header {
    background: #262626;
    padding: 47px 320px;
    max-width: inherit;
    width: inherit;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;

}

.navul {
    display: flex;
    column-gap: 68px;
}

.navli {
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
}

li:nth-child(1) a {
    color: #DCB47A;
}

.fa-bag-shopping {
    font-size: 32px;
    color: #FFFFFF;
}

/* section1 */
.section1 {
    height: 1080px;
    position: relative;
    top: 116px;
}

.section_photo {
    width: 100%;
    height: 100%;
}

.title {
    position: absolute;
    width: 68%;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 700;
    font-size: 82px;
    line-height: 96px;
    text-align: center;
    color: #FFFFFF;
}

.search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 30px;
    position: absolute;
    width: 30%;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    border: 1px solid #FFFFFF;
    backdrop-filter: blur(10px);
}

.searchP {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
}

.fa-magnifying-glass {
    color: white;
    font-size: 30px;
}

/* section2 */
.section2 {
    width: 80%;
    margin: 245px auto;
    /* background-color: chartreuse; */
}

.title1 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    font-size: 75px;
    line-height: 88px;
    color: #081323;
    margin-bottom: 81px;
}

.cards {
    /* background-color: blue; */
    display: flex;
    justify-content: space-between;
}




.box1 {
    width: 32%;
    height: 388px;
    padding: 30px 41px;
    border: 2px solid #DCB47A;
}

.image1 {
    width: 100%;
    height: 225px;
    margin-bottom: 50px;
}

.title_cart {
    /* background-color: blueviolet; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 13px;
}



.price,
.title_cart {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: -0.05em;
    color: #000000;
}
/* footer */
footer {
    background: #262626;
    padding: 60px 0;
    text-align: center;
}

.title2 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    font-size: 60px;
    line-height: 70px;
    color: #FFFFFF;
}

span {
    color: #DCB47A;
}

.article1 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    color: rgba(255, 255, 255, 0.8);
    margin: 49px 0;

}

.footerbutton_link .footerbutton {
    padding: 22px 60px;
    background: #DCB47A;
    border-radius: 60px;
    border-style: none;
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF
}